.booking-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  h3, a {
    color: #1EDD88;
  }
  a:hover {
    text-decoration: none;
  }
}

@media(max-width: 767px) {
  .booking-container {
    width: 100%!important;
  }
}
