.booking-container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  h3, a {
    color: $dark-red;
  }
  a:hover {
    text-decoration: none;
  }
}

@media(max-width: 767px) {
  .booking-container {
    width: 100%!important;
  }
}

.fas{
  color: $light-red;
}
.fas:hover{
 color: $dark-red;
}
