.dashboard-cards {
  display: flex;
  a {
    color: black;
  }
  .map-link {
    text-decoration: underline;
  }
}

.dashboard-card {
  background-color: white;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dashboard-cards .card-left {
  height: 100%;
  position: sticky;
  top: 116px;
  margin-bottom: 20px;
}

.dashboard-cards .card-right {
  flex-grow: 1;
}

.dashboard-booking {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.dashboard-booking-cover {
  width: 100px;
  margin-right: 10px;
  img {
    width: 100%;
  }
}

.dashboard-card .dashboard-balance-color {
  color: $dark-red;
}

.dashboard-bookings .current-readings .dashboard-booking {
    border: 1px solid rgba(102, 15, 16, 0.3);
    background-color: rgba(102, 15, 16, 0.1);
}

.dashboard-bookings .history .dashboard-booking {
    opacity: 0.4;
}


@media (max-width: 767px) {
  .dashboard-cards {
    flex-direction: column;
  }
  .dashboard-cards .card-left {
    position: static;
  }
}
