.container-form {
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: none;
  width: 35%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // h3, a {
  //   color: $dark-red;
  // }
  // a:hover {
  //   text-decoration: none;
  // }
}

.container-form a {
  font-size: 12px;
  font-weight: none;
  color: black;
}

.login-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight:bold;
}

.submit-btn{
  color: white;
  padding: 7px 24px;
  border-radius: 4px;
  background: $light-red;
  transition: background 0.3s ease;
  margin-bottom: 15px;
}

.submit-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #660F10
}

.form-control-file{
  height: calc(1.5em + 0.75rem + 9px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 3px;
  font-size: 12px;
  display: block;
  width: 100%;
}

.required abbr {
  text-decoration: none;
}
