.container-login {
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: none;
  width: 35%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  // h3, a {
  //   color: $dark-red;
  // }
  // a:hover {
  //   text-decoration: none;
  // }
}

.login-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight:bold;
}

.submit-btn{
  color: white;
  padding: 7px 24px;
  border-radius: 4px;
  background: $light-red;
  transition: background 0.3s ease;
  margin-bottom: 15px;
  .submit-btn:hover {
    background: $dark-red;
    color: white;
  }
}
