<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i0.wp.com/bubblediscovery.wpcomstaging.com/wp-content/uploads/2019/05/LandingWeb@2x.jpg?fit=1088%2C600&ssl=1');">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>


  </div>
</div>
