<%= render 'shared/home-navbar' %>

<%= render 'shared/banner' %>

<div class="cards-index">
  <% if @books %>
    <% @books.each do |book| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= cl_image_tag book.cover.key %>
      <%= book.name %>
    </div>
    <% end %>
  <% end %>
</div>
