.card-book {
  display: flex;
  margin-top: 100px;
  overflow: hidden;
  background: white;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-book-left {
  position: relative;
  img {
    height: 100%;
    padding: 8px;
    border-radius: 20px;
  }
  &:hover img {
    opacity: 0.5;
  }
  &:hover button {
    display:block;
  }
}
.card-book-left > button {
    position: absolute;
    left: 33%;
    top: 50%;
    display: none;
  }

.card-book-right {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-book-infos {
  text-align: left;
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
  }
}
