.card-book {
  display: flex;
  margin-top: 100px;
  overflow: hidden;
  background: white;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-book-left {
  position: relative;
  .cover {
    transition: opacity 500ms ease-out;
  }
  img {
    height: 100%;
    padding: 8px;
    border-radius: 20px;
  }
  &:hover .cover {
    opacity: 0.5;
  }
  &:hover button {
    display:block;
  }
}
.card-book-left > button {
    position: absolute;
    left: 33%;
    top: 50%;
    display: none;
  }

.card-book-right {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-book-infos {
  text-align: left;
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
  }
}
.book-btn{
    width: 70%;
    // opacity:0.7;
    background-color: #40bfc1;
    border-color: transparent;
    font-weight: bold;
    margin-left: 100px;
    color: white;

    &:hover {
      // opacity:1;
      background-color: #007272;
      border-color: transparent;
      color: white;
    }
}
.btm-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.edit-admin-btn{
  font-size: 8px;
  padding: 7px 29px;
  background-color: #ff6f5e;
  color: white;
  font-weight: bold;
  margin: 8px 5px;

}

.delete-admin-btn{
  opacity:0.8;
  font-size: 8px;
  padding: 7px 24px;
  background-color: #f0134d;
  color: white;
  font-weight: bold;
  margin: 8px 5px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: bottom;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category img {
  height: 100%;
  object-fit: cover;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
