.card-book {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  img {
  height: 200px;
  width: 40%;
  object-fit: cover;0
  }
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
  .card-book-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  }
  .card-book-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  }
}
