.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-shadow {
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  .search {
  flex-grow: 1;
  }
  .search-input {
  width: 50%;
  display: inline-block;
  }
  .navbar-btn {
    border: 1px solid black;
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
  }
  .white-btn {
    color: white;
    border-color: white;
  }
}

@media(max-width: 575px) {
  .navbar .navbar-btn {
    border: none;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}


.navbar-points {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $dark-red;
  color: $dark-red;
}

.fa-search {
  color: white!important;
}

@media(max-width: 575px) {
  .navbar {
    flex-wrap: unset;
  }
}

@media(max-width: 575px) {
  .nav-item.dropdown {
    padding-top: 4px;
  }
}

@media(max-width: 575px) {
  .dropdown-menu.dropdown-menu-right {
    display: block!important;
    border: none;
  }
}

@media(max-width: 575px) {
  .navbar-collapse.collapse.show {
    position: absolute;
    top: 66px;
    right: 16px;
    background-color: white;
    padding: 2px 8px;
    border-radius: 2px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    transition: none;
  }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
